########################################
# Build / compiled output
########################################
app/bin/
app/out_test/
app/out/

bin/
target/
*.class


########################################
# IDE / editor noise
########################################
.vscode/
.idea/
*.iml

########################################
# OS junk files
########################################
.DS_Store
Thumbs.db

########################################
# Local / secret config
########################################
dbconfig.properties
*.local.properties
*.env
.env
