########################################
# Build / compiled output
########################################
CCINFOM S22-02-DBAPP/bin/
CCINFOM S22-02-DBAPP/out_test/
CCINFOM S22-02-DBAPP/out/

bin/
target/
*.class


########################################
# IDE / editor noise
########################################
.vscode/
.idea/
*.iml

########################################
# OS junk files
########################################
.DS_Store
Thumbs.db

########################################
# Local / secret config
########################################
dbconfig.properties
*.local.properties
*.env
.env
